html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    color: #9c4c00;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    box-shadow: 0 0 3px #000;
    border-radius: 8px;
    padding: 20px;
}

img {
    width: 150px;
    margin: 30px auto 10px auto;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: #354598cc;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #354598;
    transition: transform 0.1s ease;
    transform: scale(0.95);
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style-type: none;
    justify-content: center;
}

ul li {
    padding: 10px;
    border-radius: 8px;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

ul li:hover {
    background-color: #FFECC7;
    transition: transform 0.1s ease;
    transform: scale(0.95);
}

#shopping-list {
    padding-left: 0;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #354598;
    text-decoration: none;
    margin-top: -10px;
    margin-bottom: 20px;
}

@media (max-width: 360px) {
    .container {
        box-shadow: none;
        margin-top: 0;
    }
    .footer {
        margin-top: -50px;
        margin-bottom: 20px;
    }
}